<div id="layoutSidenav_content">
	<main>
		<div class="container-fluid">
			<h1 class="mt-4">Faturas</h4>
				<ol class="breadcrumb mb-4 justify-content-between">
					<li class="breadcrumb-item active"><a href="/">Início</a>/Faturas</li>

					<!-- Button trigger modal -->

					<a id="btnAddInvoice" type="button" href="/invoices/new" class="btn btn-success">
						Nova Fatura
					</a>
				</ol>
				<div class="card mb-4">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
								<thead class="bg-dark text-white">
									<tr>
										<th>Nº</th>
										<th>Emissão</th>
										<th>Vencimento</th>
										<th>Cliente</th>
										<th>Valor</th>
										<th>Status</th>
										<th>Opções</th>
									</tr>
								</thead>
								<tbody id="listInvoices">
									<tr>
										<td>144</td>
										<td>23/11/2019</td>
										<td>11/12/2019</td>
										<td>Niger X</td>
										<td>R$ 409,50</td>
										<td class="text-danger">Vencida</td>
										<td>
											<input type="button" onclick="viewORedit('.$data->id.', \'view\')"
												value="View" class="btn btn-warning">
											<input type="button" onclick="viewORedit('.$data->id.', \'edit\')"
												value="Edit" class="btn btn-primary">
											<input type="button" onclick="deleteRow('.$data->id.')" value="Delete"
												class="btn btn-danger">
										</td>
									</tr>
									<tr>
										<td>145</td>
										<td>05/12/2019</td>
										<td>12/12/2019</td>
										<td>HR Construções</td>
										<td>R$ 670,00</td>
										<td>Pendente</td>
										<td>
											<input type="button" onclick="viewORedit('.$data->id.', \'view\')"
												value="View" class="btn btn-warning">
											<input type="button" onclick="viewORedit('.$data->id.', \'edit\')"
												value="Edit" class="btn btn-primary">
											<input type="button" onclick="deleteRow('.$data->id.')" value="Delete"
												class="btn btn-danger">
										</td>
									</tr>
									<tr>
										<td>143</td>
										<td>01/11/2019</td>
										<td>18/11/2019</td>
										<td>Nestlé</td>
										<td>R$ 1.909,80</td>
										<td>Paga</td>
										<td>
											<input type="button" onclick="viewORedit('.$data->id.', \'view\')"
												value="View" class="btn btn-warning">
											<input type="button" onclick="viewORedit('.$data->id.', \'edit\')"
												value="Edit" class="btn btn-primary">
											<input type="button" onclick="deleteRow('.$data->id.')" value="Delete"
												class="btn btn-danger">
										</td>
									</tr>
								</tbody>
								<tfoot class="bg-dark text-white">
									<tr>
										<th>Nº</th>
										<th>Emissão</th>
										<th>Vencimento</th>
										<th>Cliente</th>
										<th>Valor</th>
										<th>Status</th>
										<th>Opções</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>

				<script src="/res/plugins/jquery/jquery-3.4.1.min.js"></script>
				<script src="../res/js/util.js"></script>
				<script src="../res/js/invoices.js"></script>