            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Elder & Douglas 2020</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div> <!-- end layoutSidenav_content -->
    </div> <!-- end layoutSidenav -->

    <!--script src="/res/plugins/jquery/jquery-3.4.1.min.js"></script-->
    <script src="/res/plugins/bootstrap-bundle/bootstrap.bundle.min.js"></script>
    <script src="/res/js/scripts.js"></script>

    <script src="/res/plugins/dataTables/js/jquery.dataTables.min.js"></script>
    <script src="/res/plugins/dataTables/js/dataTables.bootstrap4.min.js"></script>
    <script src="/res/assets/demo/datatables-demo.js"></script>

    <!--script src="/res/js/util.js"></script-->
</body>

</html>