<style>

    #list1{
        top: 35px;
        margin-bottom: 50px;
    }

    #list1 span{
        width: 100%;
    }
  
    .dropdown-check-list {
    display: inline-block;
    }
    .dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
    }
    .dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }
    .dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
    }
    .dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    }
    .dropdown-check-list ul.items li {
    list-style: none;
    }
    .dropdown-check-list.visible .anchor {
    color: #0094ff;
    }
    .dropdown-check-list.visible .items {
    display: block;
    }

    option {
    font-weight:bold;
    }

</style>

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Entregas e Retiradas</h1>
            <ol class="breadcrumb mb-4 justify-content-between">
                <li class="breadcrumb-item active"><a href="/">home</a>/Locações/Entregas e Retiradas</li>

                <!-- Button trigger modal -->
                <button id="btnAddFreights" type="button" class="btn btn-success" data-toggle="modal" data-target="#freightModal">
                    Novo Frete
                </button>           
            </ol>

           
            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead class="bg-dark text-white">
                            
                                <tr>
                                    <th>#</th>
                                    <th>Tipo Frete</th>
                                    <th>Status</th>
                                    <th>Data e Horário</th>
                                    <th>Observação</th>
                                    <th>Opções</th>                             
                                </tr>
                            </thead>
                            <tbody id="listFreight">
                            </tbody>
                            <tfoot class="bg-dark text-white">
                                <tr>
                                    <th>#</th>
                                    <th>Tipo Frete</th>
                                    <th>Status</th>
                                    <th>Data e Horário</th>
                                    <th>Observação</th>
                                    <th>Opções</th>       
                                </tr>
                            </tfoot>
   
                        </table>
                    </div>
                </div>
            </div>
        </div>

           
        <!-- Rent Modal------------------------------------------------------------------------------->
        <div class="modal fade" id="freightModal" tabindex="-1" role="dialog" aria-labelledby="Detalhes do Frete" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div style="margin-bottom: -1rem;" class="modal-header">
                        <h3 class="modal-title"><b id="modalTitle">Detalhes do Frete</b></h3>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form id="formFreights">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <a id="idLocacao" class="btn btn-warning mt-4" target="_blank">ir para a Locação</a>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="tipoFrete">Tipo Frete*</label>
                                    <select id="tipoFrete" name="tipoFrete" class="form-control">
                                        <option value="">Escolher...</option>
                                        <option value="0" selected style="color: green;">Entrega</option>
                                        <option value="1" style="color: red;">Retirada</option>                                        
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="status">Status *</label>
                                    <select id="status" name="status" class="form-control">
                                        <option value="">Escolher...</option>
                                        <option value="0" selected style="color: green;">Concluído</option>
                                        <option value="1" style="color: red;">Pendente</option>           
                                    </select>
                                </div>
                                
                                <div class="form-group col-lg-6">
                                    <label for="data_hora">Data e Hora</label>
                                <input type="datetime-local" id="data_hora"
                                    name="data_hora">
                                </div>
                                <br>

                                <div class="form-group col-md-12">
                                    <label for="observacao">Observação</label>
                                    <textarea maxlength="150" class="form-control" id="observacao" name="observacao" rows="3"></textarea>
                                    <!--Caractetres Restantes: <span class="caracteres">150</span--><br>
                                </div>   

                                 <!--Usado apenas para Editar -->
                                <div hidden="true">
                                    <label for="idFreteAluguel">Id</label>
                                    <input type="text" id="idFreteAluguel" name="idFreteAluguel" >
                                </div>
                         </form>

                         <span class="help-block status-form float-right" style="margin-top: -1.4rem;"></span>
                         
                         <div style="margin: 0px; width: 100%;" class="breadcrumb justify-content-between">
                             
                             <button id="btnClose" type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                             <!-- btnCreateRent and btnEditRent-->
                             <input id="btnSaveFreight" type="submit" value="Cadastrar" class="btn btn-success">
                             
                             <!-- para desbloquear os camps para editar o procuto -->
                             <input id="btnUpdate" type="button" value="Editar" class="btn btn-primary">
                             
                         </div>
                       
                    </div>

                </div>

            </div>
        </div>  <!-- end Rent Modal -->  

    <script src="/res/plugins/jquery/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    <script src="../res/js/util.js"></script>
    <script src="../res/js/freights.js"></script>