<?php
    require('header.php');

?>

    
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Locações</h4>
                                <p class="category">Lista de Locações</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>Produto</th>
										<th>Tipo</th>
                                    	<th>Cliente</th>
                                    	<th>Status</th>
                                    	<th>Início</th>
                                    	<th>Fim</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        	<td>C001</td>
                                        	<td>Container</td>
                                        	<td>HR Construções</td>
                                        	<td>Alugando</td>
                                        	<td>05/07/2019</td>
											<td>- </td>
                                        </tr>

										<tr>
                                        	<td>A1250</td>
                                        	<td>Container</td>
                                        	<td>Nestlé</td>
                                        	<td>Alugando</td>
                                        	<td>09/12/2019</td>
											<td>- </td>
                                        </tr>
										<tr>
                                        	<td>C3052</td>
                                        	<td>Container</td>
                                        	<td>Famz</td>
                                        	<td>Concluída</td>
                                        	<td>01/08/2019</td>
											<td>15/10/2019</td>
                                        </tr>
										<tr>
                                        	<td>E1200</td>
                                        	<td>Container</td>
                                        	<td>Nestlé</td>
                                        	<td>Concluída</td>
                                        	<td>02/06/2018</td>
											<td>01/04/2019 </td>
                                        </tr>
                             
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

 

<?php
    require('footer.php');

?>


</html>
