<style>

    #list1{
        top: 35px;
        margin-bottom: 50px;
    }

    #list1 span{
        width: 100%;
    }
  
    .dropdown-check-list {
    display: inline-block;
    }
    .dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
    }
    .dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }
    .dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
    }
    .dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    }
    .dropdown-check-list ul.items li {
    list-style: none;
    }
    .dropdown-check-list.visible .anchor {
    color: #0094ff;
    }
    .dropdown-check-list.visible .items {
    display: block;
    }

</style>

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Locações</h1>
            <ol class="breadcrumb mb-4 justify-content-between">
                <li class="breadcrumb-item active"><a href="/">home</a>/Locações</li>

                <!-- Button trigger modal -->
                <button id="btnAddRent" type="button" class="btn btn-success" data-toggle="modal" data-target="#RentModal">
                    Nova Locação
                </button>           
            </ol>

            <input id="idRentToModal" value='{$idRentToModal}' hidden="true"/>
           
            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead class="bg-dark text-white">
                            
                                <tr>
                                    <th>Código</th>
                                    <th>Cod. Contrato</th>
                                    <th>Produto</th>
									<th>Status</th>
                                    <th>Data Início</th>
                                    <th>Dt Final</th>
									<!--th>Cliente</th>
                                    <th>Contrato</th-->
                                    <th>Opções</th>                                
                                </tr>
                            </thead>
                            <tbody id="listRents">
                              <!--tr>
								  <td>1</td>
								  <td>Container X</td>
								  <td style="color: green;"><b>Alugado</b></td>
								  <td>01/08/2020</td>
								  <td>João Félix S.A.</td>
								  <td>...</td>
								  <td>...</td>
							  </tr-->				
                            </tbody>
                            <tfoot class="bg-dark text-white">
                                <tr>
                                    <th>Código</th>
                                    <th>Cod. Contrato</th>
                                    <th>Produto</th>
									<th>Status</th>
                                    <th>Data Início</th>
                                    <th>Dt Final</th>
									<!--th>Cliente</th>
                                    <th>Contrato</th-->
                                    <th>Opções</th>
                                </tr>
                            </tfoot>
   
                        </table>
                    </div>
                </div>
            </div>
        </div>

           
        <!-- Rent Modal------------------------------------------------------------------------------->
        <div class="modal fade" id="RentModal" tabindex="-1" role="dialog" aria-labelledby="Detalhes da Obra" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div style="margin-bottom: -1rem;" class="modal-header">
                        <h3 class="modal-title"><b id="modalTitle">Cadastrar Locação</b></h3>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form id="formRent">
                            <div class="form-row">

                                <div class="form-group col-lg-2">
                                    <label for="codigo">Código</label>
                                    <input type="text" class="form-control" id="codigo" name="codigo" placeholder="000" maxlength="3">
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group col-md-3">
                                    <label for="cliente">Cliente *</label>
                                    <select id="cliente" name="cliente" class="form-control">
                                        <option value="" selected>Escolher Cliente</option>
                                    </select>
                                </div>
                                
                                <div class="form-group col-md-3">
                                    <label for="contrato_idContrato">Contrato *</label>
                                    <select id="contrato_idContrato" name="contrato_idContrato" class="form-control">
                                        <option value="" selected>Escolher Contrato</option> 
                                    </select>
                                </div>

                                <div id="divDetailsRent" class="col-lg-9 ml-2 mb-2" style="background-color: lightgrey;"></div> <!-- div de detalhes de um aluguel (cliente, contrato e item)-->

                                <div class="form-group col-md-4">
                                    <label for="itens">Item *</label>
                                    <select id="itens" name="itens" class="form-control">
                                        <option value="">Escolher...</option>                                      
                                    </select>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="status">Status *</label>
                                    <select id="status" name="status" class="form-control">
                                        <option value="">Escolher...</option>
                                        <option value="0" selected style="color: red;"><b>Entrega Pendente</b></option>
                                        <option value="1" style="color: green;"><b>Ativo</b></option>
                                        <option value="2" style="color: orange;"><b>Retirada Pendente</b></option>
                                        <option value="3" style="color: grey;"><b>Encerrado</b></option>                                        
                                    </select>
                                </div>
                                
                                <div id="group-dtInicio" class="form-group col-lg-4">
                                    <label for="dtInicio">Data de Inicio *</label>
                                    <input type="date" class="form-control" id="dtInicio" name="dtInicio">
                                </div>

                                <div class="form-group col-lg-4">
                                    <label for="dtFinal">Data Final</label>
                                    <input type="date" class="form-control" id="dtFinal" name="dtFinal">
                                </div>

                                <div class="form-group col-lg-4">
                                    <label for="vlAluguel">Valor do Aluguel *</label>
                                    <input type="number" class="form-control" id="vlAluguel" name="vlAluguel"  placeholder="0,00">
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group col-lg-4">
                                    <label for="custoEntrega">Valor de Entrega *</label>
                                    <input type="number" class="form-control" id="custoEntrega" name="custoEntrega"  placeholder="0,00">
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group col-lg-4">
                                    <label for="custoRetirada">Valor de Retirada *</label>
                                    <input type="number" class="form-control" id="custoRetirada" name="custoRetirada"  placeholder="0,00">
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="quantidade">Quantidade (restante) *</label>
                                    <select id="quantidade" name="quantidade" class="form-control">
                                        <option value="" selected>Escolher...</option>                                                     
                                    </select>
                                </div>              
                   
                                <div id="list1" class="bg-ligth dropdown-check-list form-group col-md-6" tabindex="100">
                                    <span class="anchor">Produtos Específicos *</span>
                                    <b>Produtos disponíveis (código);</b>
                                    <ul id="listProductsEsp" class="items" style="background-color: lightgrey;">                       
                                        <!--li><input type="checkbox" />Apple </li-->
                                    </ul>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="observacao">Observação</label>
                                    <textarea maxlength="150" class="form-control" id="observacao" name="observacao" rows="3"></textarea>
                                    <!--Caractetres Restantes: <span class="caracteres">150</span--><br>
                                </div>                            

                            <!--Usado apenas para Editar -->
                            <div hidden="true">
                                <label for="idHistoricoAluguel">Id</label>
                                <input type="text" id="idHistoricoAluguel" name="idHistoricoAluguel" >
                            </div>
                            <span class="text-danger">* campos obrigatórios</span>
                         </form>

                         <span class="help-block status-form float-right" style="margin-top: -1.4rem;"></span>
                         
                         <div style="margin: 0px; width: 100%;" class="breadcrumb justify-content-between">
                             
                             <button id="btnClose" type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                             <!-- btnCreateRent and btnEditRent-->
                             <input id="btnSaveRent" type="submit" value="Cadastrar" class="btn btn-success">
                             
                             <!-- para desbloquear os camps para editar o procuto -->
                             <input id="btnUpdate" type="button" value="Editar" class="btn btn-primary">
                             
                         </div>
                       
                    </div>

                </div>

            </div>
        </div>  <!-- end Rent Modal -->  

    <script src="/res/plugins/jquery/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    <script src="../res/js/util.js"></script>
    <script src="../res/js/rents.js"></script>
        
<!--
<script>
	$(document).ready(function() {

  	$("#linkLocacoes").addClass("active"); 
	
});

</script>
-->



    <!--script>
        $("#linkLocacoes").addClass("active"); 
    </script-->