<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">

            <h2 class="mt-4">Obras</h2>
            <ol class="breadcrumb mb-4 justify-content-between">
                <li class="breadcrumb-item active"><a href="/">Início</a>/<a href="/costumers">Clientes</a>/Obras</li>
                <!-- Button trigger modal -->
                <button id="btnAddConstruction" type="button" class="btn btn-success" data-toggle="modal" data-target="#constructionModal">
                    Nova Obra
                </button>
            </ol>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th>Código</th>
                                <th>Resposável</th>
                                <th>Cidade</th>
                                <th>Endereço</th>
                                <th>Opções</th>
                            </tr>
                        </thead>

                        <tbody id="listObra">
                         
                        </tbody>

                        <tfoot  class="bg-dark text-white">
                            <tr>
                                <th>Código</th>
                                <th>Resposável</th>
                                <th>Cidade</th>
                                <th>Endereço</th>
                                <th>Opções</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!-- end container-fluid -->



        <!--Work Modal------------------------------------------------------------------------------->
        <div class="modal fade" id="constructionModal" tabindex="-1" role="dialog" aria-labelledby="Detalhes da Obra"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title"><b id="modalTitle">Nova Obra</b></h3>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form id="formConstruction">
                            <div class="form-row">

                                
                                <div id="divId" class="form-group col-lg-4">
                                    <label for="IdObra">IdObra</label>
                                    <input type="text" class="form-control" name="IdObra" id="IdObra">
                                </div>
                                 
                                <div id="divCodigo" class="form-group col-lg-2">
                                    <label for="codObra">Código</label>
                                    <input type="text" class="form-control" name="codObra" id="codObra" placeholder="000">
                                </div>
                                
                                <div id="divNomeCliente" class="form-group col-lg-6">
                                    <label>Cliente</label>
                                    <input type="text" class="form-control" name="cliente" id="cliente">
                                </div>    

                                <div class="form-group col-lg-4">
                                    <label for="respObra">Responsáveis</label>
                                    <select id="respObra" name="respObra" class="form-control">
                                        <option value= 0 selected>Escolher...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                                
                             
                                <div class="form-group col-md-4">
                                    <label for="uf" title="Unidade Federativa">UF</label>
                                    <select id="uf" name="uf" class="form-control">
                                        <option value = "" selected>Escolher...</option>
                                        <option value="AC">Acre</option>
                                        <option value="AL">Alagoas</option>
                                        <option value="AP">Amapá</option>
                                        <option value="AM">Amazonas</option>
                                        <option value="BA">Bahia</option>
                                        <option value="CE">Ceará</option>
                                        <option value="DF">Distrito Federal</option>
                                        <option value="ES">Espírito Santo</option>
                                        <option value="GO">Goiás</option>
                                        <option value="MA">Maranhão</option>
                                        <option value="MT">Mato Grosso</option>
                                        <option value="MS">Mato Grosso do Sul</option>
                                        <option value="MG">Minas Gerais</option>
                                        <option value="PA">Pará</option>
                                        <option value="PB">Paraíba</option>
                                        <option value="PR">Paraná</option>
                                        <option value="PE">Pernambuco</option>
                                        <option value="PI">Piauí</option>
                                        <option value="RJ">Rio de Janeiro</option>
                                        <option value="RN">Rio Grande do Norte</option>
                                        <option value="RS">Rio Grande do Sul</option>
                                        <option value="RO">Rondônia</option>
                                        <option value="RR">Roraima</option>
                                        <option value="SC">Santa Catarina</option>
                                        <option value="SP">São Paulo</option>
                                        <option value="SE">Sergipe</option>
                                        <option value="TO">Tocantins</option>
                                    </select>
                                </div>

                                <div class="form-group col-lg-4">
                                    <label for="cep">CEP</label>
                                    <input type="text" class="form-control" name="cep" id="cep" placeholder="00000-000">
                                </div>

                                <div class="form-group col-lg-4">
                                    <label for="cidade">Cidade</label>
                                    <input type="text" class="form-control"  name="cidade" id="cidade">
                                </div>

                                <div class="form-group col-lg-4">
                                    <label for="bairro">Bairro</label>
                                    <input type="text" class="form-control" name="bairro" id="bairro">
                                </div>

                                <div class="form-group col-lg-6">
                                    <label for="endereco">Endereço</label>
                                    <input type="text" class="form-control" id="endereco" name="endereco" placeholder=" Rua Exemplo">
                                </div>
                                <div class="form-group col-lg-2">
                                    <label for="numero">Número</label>
                                    <input type="text" class="form-control" id="numero" name="numero" placeholder="000">
                                </div>
                                
                                <div id="divCliente" class="form-group col-md-6">
                                    <label id="labelid_fk_Cliente" for="id_fk_cliente">ID Cliente</label>
                                    <input type="text" class="form-control" name="id_fk_cliente" id="id_fk_cliente">
                                </div>
                                   
                                
                            </div>

                            <div class="form-group col-md-4">
                                <label for="dtCadastro">Data de Cadastro</label>
                                <input type="date" class="form-control" id="dtCadastro" name="dtCadastro"
                                    placeholder="00/00/0000" disabled>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="complemento">Complemento</label>
                                <textarea maxlength="150" class="form-control" id="complemento" name="complemento" rows="3"></textarea>
                                Caractetres Restantes: <span class="caracteres">150</span><br>
                            </div>

                        </form>
                       
                        <div style="margin: 0px;" class="breadcrumb justify-content-between">

                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

                            <input id="btnSaveConstruction" type="submit" value="Cadastrar" class="btn btn-success">
                            
                             <!-- para desbloquear os camps para editar o usuário -->
                             <input id="btnUpdate" type="button" value="Editar" class="btn btn-primary">
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- end Construction Modal -->

    <script src="/res/plugins/jquery/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    <script src="../../res/js/util.js"></script>
    <script src="../../res/js/construction.js"></script>



        <!--script>
	$(document).ready(function() {

  	$("#linkObras").addClass("active"); 

	$('#example').DataTable();
	
});
</script-->