<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Produtos</h1>
            <ol class="breadcrumb mb-4 justify-content-between">
                <li class="breadcrumb-item active">home/Produtos</li>
                <a class="btn btn-info" href="/prod-types">Tipos de produtos</a> 
                <!-- Button trigger modal -->
                <button id="btnAddProduct" type="button" class="btn btn-success" data-toggle="modal" data-target="#productModal">
                    Novo Produto
                </button>           
            </ol>

           
            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead class="bg-dark text-white">
                            
                                <tr>
                                    <th title="categ.t1.t2.t3.t4.forn-numSerie">Código</th>
                                    <th title="container/betoneira/andaime/escora">Categoria</th>
                                    <th title="dispoível/alugado/manutenção" class="text-center">Status</th>
                                    <th title="(metragem, marca ou tipo)">Tipo_1</th>
                                    <th>Descrição</th>
                                    <th title="ver/editar/excluir">Opções</th>
                                </tr>
                            </thead>
                            <tbody id="listProducts">
                              
                            </tbody>
                            <tfoot class="bg-dark text-white">
                                <tr>
                                    <th>Código</th>
                                    <th>Categoria</th>
                                    <th>Status</th>
                                    <th>Tipo_1</th>
                                    <th>Descrição</th>
                                    <th>Opções</th>
                        
                                </tr>
                            </tfoot>
   
                        </table>
                    </div>
                </div>
            </div>
        </div>


           
        <!-- Product Modal------------------------------------------------------------------------------->
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="Detalhes da Obra" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div style="margin-bottom: -1rem;" class="modal-header">
                        <h3 class="modal-title"><b id="modalTitle">Cadastrar Produto</b></h3>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form id="formProduct">
                            <div class="form-row">

                                <div class="form-group col-lg-4">
                                    <label for="codigo">Código</label>
                                    <input type="text" class="form-control" id="codigo" name="codigo" placeholder="x.xx.xx.xx.xxx" disabled>
                                    <span class="help-block"></span>
                                </div>
                                <div class="form-group col-lg-2">
                                    <label for="numSerie">Nº Série</label>
                                    <input type="text" class="form-control" style="max-width: 4rem;" id="numSerie" name="numSerie" maxlength="4" placeholder="xxxx">
                                    <span class="help-block"></span> 
                                </div>


                                <div class="form-group col-lg-6">
                                    <label for="descricao">Descrição</label>
                                    <input type="text" class="form-control" id="descricao" name="descricao" maxlength="150" placeholder="tipo2-tipo3-tipo4">
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group col-lg-3">
                                    <label for="valorCompra">Valor de Compra</label>
                                    <input type="text" class="form-control" id="valorCompra" name="valorCompra" placeholder="000">
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group col-lg-3">
                                    <label for="status">Status</label>
                                    <select class="form-control" id="status" name="status">
                                        <option value="0">Alugado</option>
                                      <option value="1" selected>Disponível</option>     
                                      <option value="2">Manutenção</option>
                                    </select>
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group col-lg-3">
                                    <label for="dtFabricacao">Data de Fabricação</label>
                                    <input type="date" class="form-control" id="dtFabricacao" name="dtFabricacao" placeholder="000">
                                </div>

                                <!--div class="form-group col-lg-3">
                                    <label for="vlBaseAluguel">Valor Base Aluguel</label>
                                    <input type="text" class="form-control" name="vlBaseAluguel" id="vlBaseAluguel" placeholder="000">
                                    <span class="help-block"></span>
                                </div-->
                                
                                <div class="form-group col-lg-3">
                                    <label for="categoria">Categoria</label>
                                    <select class="form-control" id="categoria" name="categoria">
                                        <!--option value="1">container</option>
                                      <option value="2">elétrico</option>
                                      <option value="3">mecânico</option-->
                                    </select>
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group col-lg-3">
                                    <label id="labelType1" for="tipo1">tipo1</label>
                                    <select class="form-control" id="tipo1" name="tipo1">
                                    </select>
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group col-lg-3">
                                    <label id="labelType2" for="tipo2">tipo2</label>
                                    <select class="form-control" id="tipo2" name="tipo2">
                                    </select>
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group col-lg-3">
                                    <label id="labelType3" for="tipo3">tipo3</label>
                                    <select class="form-control" id="tipo3" name="tipo3">
                                    </select>
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group col-lg-3">
                                    <label id="labelType4" for="tipo4">tipo4</label>
                                    <select class="form-control" id="tipo4" name="tipo4">
                                    </select>
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group col-lg-3">
                                    <label for="fornecedor">Fornecedor</label>
                                    <select class="form-control" id="fornecedor" name="fornecedor">
                                      <!--option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option-->
                                    </select>
                                    <span class="help-block"></span>
                                </div>

                                
                                <!-- Campos abaixo são de CONTEINERS-->
                                
                                <div class="form-group col-lg-6">
                                    <label for="tipoPorta">Tipo de Porta</label>
                                    <input type="text" class="form-control" id="tipoPorta" name="tipoPorta">
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group col-lg-3 mt-3">
                                    <div class="custom-control custom-switch ml-4"> 
                                        <input id="forrado" type="checkbox" name="forrado" value="1" class="custom-control-input">
                                        <label class="custom-control-label mt-4" for="forrado">Forrado</label>
                                    </div>
                                </div>

                                <div class="form-group col-lg-3">
                                    <label for="janelasLat">Janelas Laterais</label>
                                    <select class="form-control" id="janelasLat" name="janelasLat">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                    </select>
                                    <span class="help-block"></span>  
                                </div>
                                
                                <div class="form-group col-lg-3">
                                <label for="janelasCirc">Janelas Circulares</label>
                                <select class="form-control" id="janelasCirc" name="janelasCirc">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>
                                <span class="help-block"></span>    
                            </div>

                                <div class="form-group col-lg-3">
                                    <label for="sanitarios">Sanitários</label>
                                    <select class="form-control" id="sanitarios" name="sanitarios">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                    <span class="help-block"></span>
                                </div>
                                
                                <div class="form-group col-lg-3 mt-3">
                                    <div class="custom-control custom-switch ml-4">                     
                                        <input type="checkbox" value="1" class="custom-control-input" id="eletrificado" name="eletrificado">
                                        <label class="custom-control-label mt-4" for="eletrificado">Eletrificado</label>
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group col-lg-3">
                                    <label for="entradasAC">Entrada P/A/C</label>
                                    <select id="entradasAC" name="entradasAC" class="form-control">
                                        <option value="">N/A</option>
                                        <option value="0" selected>Não</option>       
                                        <option value="1">Sim</option>
                                    </select>
                                    <span class="help-block"></span>
                                </div>
                                
                                <div class="form-group col-lg-3">
                                    <label for="tomadas">Tomadas</label>
                                    <select class="form-control" id="tomadas" name="tomadas">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                    </select>
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group col-lg-3">
                                    <label for="lampadas">Lampadas</label>
                                    <select class="form-control" id="lampadas" name="lampadas">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                    </select>
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group col-lg-3 mt-3">
                                    <div class="custom-control custom-switch ml-4">                     
                                        <input type="checkbox" value="1" class="custom-control-input" id="chuveiro" name="chuveiro">
                                        <label class="custom-control-label mt-4" for="chuveiro">Chuveiro</label>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <!-- fim Campos de CONTEINERS-->
                         

                                <div class="form-group col-lg-12">
                                    <label for="anotacoes">Anotações</label>
                                    <textarea class="form-control" id="anotacoes" name="anotacoes" placeholder="anotações do produto (máximo de 300 caracteres)" maxlength="300" rows="3"></textarea>
                                </div>
                            </div>

                            <!--Usado apenas para Editar -->
                            <div hidden="true">
                                <label for="idProduto">Id</label>
                                <input type="text" id="idProduto" name="idProduto" >
                            </div>

                         </form>

                         <span class="help-block status-form float-right" style="margin-top: -1.4rem;"></span>
                         
                         <div style="margin: 0px; width: 100%;" class="breadcrumb justify-content-between">
                             
                             <button id="btnClose" type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                             <!-- btnCreateProduct and btnEditProduct-->
                             <input id="btnSaveProduct" type="submit" value="Cadastrar" class="btn btn-success">
                             
                             <!-- para desbloquear os camps para editar o procuto -->
                             <input id="btnUpdate" type="button" value="Editar" class="btn btn-primary">
                             
                         </div>
                       
                    </div>

                </div>

            </div>
        </div>  <!-- end Product Modal -->  


    <script src="/res/plugins/jquery/jquery-3.4.1.min.js"></script>
    <script src="../res/js/util.js"></script>
    <script src="../res/js/products.js"></script>
        
<!--
<script>
	$(document).ready(function() {

  	$("#linkProdutos").addClass("active"); 

	$('#example').DataTable();
	
});

</script>
-->



    <!--script>
        $("#linkProdutos").addClass("active"); 
    </script-->