<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h2 class="mt-4">Usuários</h2>
            <ol class="breadcrumb mb-4 justify-content-between">
                <li class="breadcrumb-item active">Início/Usuários</li>
                <!-- Button trigger modal -->
                <button id="btnAddUser" type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal">
                    Novo Usuário
                </button>
            </ol>

            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead class="bg-dark text-white">
                                <tr>
                                    <th>Foto</th>
                                    <th>Usuário</th>
                                    <th>Nome Completo</th>
                                    <th>Função</th>
                                    <th title="Administrador">Admin</th>
                                    <th>Opções</th>
                                </tr>
                            </thead>
                            <tbody id="viewUser">
                                {loop="$users"}
                                <tr>
                                    <td><img src="{$value->foto}" alt="imagem-usuario"
                                            class="rounded-circle rounded-sm" style="max-width: 5rem; max-height: 5rem;"></td>
                                    <td>{$value->nomeUsuario}</td>
                                    <td>{$value->nomeCompleto}</td>
                                    <td>{$value->funcao}</td>
                                    <td>{if="$value->administrador == 1"}Sim{else}Não{/if}</td>
                                    <td>
                                        <button type="button" title="ver detalhes" class="btn btn-warning"
                                        onclick="loadEditUser('{$value->idUsuario}');">
                                            <i class="fas fa-bars sm"></i>
                                        </button>
                                        <button type="button" title="excluir" onclick="removeUser(`{$value->idUsuario}`);"
                                            class="btn btn-danger">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>

                                {/loop}

                            </tbody>
                            <tfoot class="bg-dark text-white">
                                <tr>
                                    <th>Foto</th>
                                    <th>Usuário</th>
                                    <th>Nome Completo</th>
                                    <th>Função</th>
                                    <th title="Administrador">Admin</th>
                                    <th>Opções</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div> <!-- fim container-fluid-->




        <!-- Users Add Modal -------------------------------------------->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="Cadastrar Usuario" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div style="margin-bottom: -1rem;" class="modal-header">
                        <h3 class="modal-title"><b>Cadastrar Usuário</b></h3>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form id="formCreateUser">
                            <div class="form-row">

                                <div class="form-group col-lg-6">
                                    <label for="nomeCompleto">Nome Completo</label>
                                    <input type="text" class="form-control" name="nomeCompleto" id="nomeCompleto"
                                        placeholder="Nome Completo" required="">
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group col-lg-6">

                                    <label for="funcao">Função</label>
                                    <input type="text" class="form-control" name="funcao" id="funcao"
                                        placeholder="Função na empresa" required="">
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group col-lg-6">
                                    <label for="nomeUsuario">Usuário</label>
                                    <input type="text" class="form-control" name="nomeUsuario" id="nomeUsuario"
                                        placeholder="Nome de Usuário" required="">
                                    <span class="help-block"></span>
                                </div>


                                <div class="form-group col-lg-6">
                                    <label for="senha">Senha</label>
                                    <input type="password" class="form-control" name="senha" id="senha" minlength="6"
                                        placeholder="sua senha" required="">
                                    <span class="help-block"></span>
                                </div>


                                <div class="form-group col-lg-6">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="exemplo@exemplo.com" required="">
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group col-lg-2">
                                    <label for="administrador">Administrador?</label>
                                    <select id="administrador" name="administrador" class="form-control" required="">
                                        <option value="0" selected>Não</option>
                                        <option value="1">Sim</option>
                                    </select>
                                    <span class="help-block"></span>
                                </div>
                                
                                <div class="form-group">
                                    
                                    <div class="box box-widget">
                                      <div class="box-body">
                                        <img class="img-responsive" id="image-preview" src="/res/img/users/user-default.jpg" alt="Photo">
                                      </div>
                                    </div>
                                    <label for="file">Foto</label>
                                    <input type="file" class="form-control-file" id="desImagePath" name="desImagePath">
                                    <div id="loadingImg"></div>
                                    <span class="help-block"></span>
                                  </div>


                                <div hidden="true">
                                    <label for="idUsuario">Id</label>
                                    <input type="text" id="idUsuario" name="idUsuario">
                                </div>
                            </div>
                           
                        </form>

                        <span class="status-form float-right" style="margin-top: -1.4rem;"></span>
                        <div style="margin: 0px; width: 100%;" class="breadcrumb justify-content-between">
                            
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            
                            <input id="btnCreateUser" type="submit" value="Cadastrar" class="btn btn-primary">
                            
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- End Users Add Modal --------------------------------------------->

        <!-- Users Edit Modal -------------------------------------------->
        <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="Detalhes do Usuario" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div style="margin-bottom: -1rem;" class="modal-header">
                        <h3 class="modal-title"><b>Editar Usuário</b></h3>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form id="formEditUser">
                            <div class="form-row">

                                <div class="form-group col-lg-6">
                                    <label for="nomeCompleto">Nome Completo</label>
                                    <input type="text" class="form-control" name="nomeCompleto" id="nomeCompleto"
                                        placeholder="Nome Completo" required="">
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group col-lg-6">

                                    <label for="funcao">Função</label>
                                    <input type="text" class="form-control" name="funcao" id="funcao"
                                        placeholder="Função na empresa" required="">
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group col-lg-6">
                                    <label for="nomeUsuario">Usuário</label>
                                    <input type="text" class="form-control" name="nomeUsuario" id="nomeUsuario"
                                        placeholder="Nome de Usuário" required="">
                                    <span class="help-block"></span>
                                </div>


                                <div class="form-group col-lg-6">
                                    <label for="senha">Senha</label>
                                    <br><button type="button" id="btnChangePassword" class="btn btn-warning">Alterar Senha</button>
                                    <!--input type="password" class="form-control" name="senha" id="senha" minlength="6"
                                         placeholder="sua senha" required="">
                                    <span class="help-block"></span-->
                                </div>


                                <div class="form-group col-lg-6">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="exemplo@exemplo.com" required="">
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group col-lg-2">
                                    <label for="administrador">Administrador?</label>
                                    <select id="administrador" name="administrador" class="form-control" required="">
                                        <option value="0" selected>Não</option>
                                        <option value="1">Sim</option>
                                    </select>
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group col-lg-6">
                                    <label for="dtCadastro">Data de Cadastro</label>
                                    <input type="date" class="form-control" id="dtCadastro" name="dtCadastro" disabled>
                                </div>
                                
                                <div class="form-group">
                                    
                                    <div class="box box-widget">
                                        <div id="divImg" class="box-body">
                                            <img src="" id="image" style="max-width: 200px; max-height: 200px;">
                                        </div>
                                    </div>
                                    <label for="file">Foto</label>
                                    <input type="file" class="form-control-file" id="desOldImagePath" name="desOldImagePath">
                                    <div id="loadingImg"></div>
                                
                                </div>


                                <div hidden="true">
                                    <label for="idUsuario">Id</label>
                                    <input type="text" id="idUsuario" name="idUsuario">
                                </div>
                            </div>
                            
                        </form>
                        <div style="margin: 0px;" class="breadcrumb justify-content-between">
                            
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            
                                <input id="btnEditUser" type="submit" value="Editar" class="btn btn-primary">
                            
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- End Users Add Modal --------------------------------------------->
            
    <script src="/res/plugins/jquery/jquery-3.4.1.min.js"></script>
            
<script src="../res/js/util.js"></script>
<script src="../res/js/users.js"></script>
 <!--
<script>
	$(document).ready(function() {

  	$("#linkUsuarios").addClass("active"); 

	$('#example').DataTable();
	
});

</script>
-->